ul.ui.list {
    margin: 0;
}

.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item::before {
    display: none;
}

.video-item.item img {
    max-width: 180px;
}
